@import '~antd/dist/antd.dark.css';

.sider {
  margin-top: 0px;
  height: 100vh;
  font-size: 20px;
}
.site-layout .site-layout-background {
  background: rgb(93, 86, 86);
}
.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.3);
  margin: 16px;
}
